@media (min-width: 320px) and (max-width:700px ) {
   
    body{
        overflow-x: hidden;
    }
     /* cabeça */
    li{
        display: none;
    }
    menu{
        display: flex;
        align-items: center;
    }
    #menu{
        display: flex;
        justify-content: right;
        margin-left: 60px ;
        font-size: 30px;
    }

    menu>h1{
        margin-left: 30px;
        margin-right: 80px;
        text-align: right;
    }
    /* corpo */
    .imagem>#txt_img>h1{
        font-weight: 800;
        font-size: 45px;
        text-shadow: 1px 5px 2px black;
    }

    .container{
        flex-direction: column;
    }

  }